{% extends 'base.html' %}

{% block title%}
Landing Page
{% endblock %}

{% block content %}
<div class="jumbotron" >
	<div class="container">
		<div class="textN">
			<div>
				<label>Kelompok</label>
			</div>
			<div>
				<ol type="A">
					<li>Nama Kelompok :
						<ul type="none">
							<li>PIRAMIDA</li>
						</ul>
					</li>
					<li>Anggota Kelompok :
						<ul type="none">
							<li> 191080200138 - Dewi Rhomadiniyah</li>
							<li> 191080200154 - Della Swastika N.A</li>
							<li> 191080200251 - Yenni Seftiardiyah</li>
						</ul>
					</li>
					<li>
						Framework Pilihan :
						<ul type="none">
							<li>Python Django (2)</li>
						</ul>
					</li>
					<li>
						Alamat Repository:
						<ul type="none">
							<li>https://github.com/yennisef/UTS-PABW-READ-DJANGO/tree/main
								https://github.com/yennisef/CRUD-DJANGO/tree/main
							</li>
						</ul>
					</li>
					<li>
						Alamat Ngrok :
						<ul type="none">
							<li>https://c0de-114-79-22-147.ap.ngrok.io</li>
						</ul>
					</li>
					<li>
						Halaman Admin
						<ul type="none">
							<li>localhost:8000/superuser
							</li>
							<li>user:PIRAMIDA
								password:adminadmin</li>
						</ul>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>
{% endblock %}